body{
    font-family: 'Share Tech', sans-serif;
    color: rgb(241, 241, 241);
    height: 100vh;
    padding: 15px;
    background-color: #343a40;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}
/*
Styling Header Section
*/
.pageTitle {
    width: 100%;
    text-shadow: 1px 2px 8px hsl(0, 0%, 42%);
}
.pageTitle h3{
    margin-top: -15px;
}

/*
Styling input controls sections
*/
.controls{
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputControls {
    text-align: center;
    padding: 0px 20px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 0px 10px;
    background: #d6d4d4;
    text-shadow: 4px 4px 13px #0000008c;
    color: black;
}
.control{
    margin: 10px 15px;
    padding: 5px;
    display: inline-block;
}
.submit-container{
    margin: 15px;
    text-align:center;
}

/*
Stying Graph output section
*/
.outputSection{
    display: inline-block;
    padding: 0px 45px;
}
.graphSection{
    width:55%;
}

/*
Styling the Run SImulation Button
*/
.simBtn {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    color: #36395A;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    will-change: box-shadow,transform;
    font-size: 22px;
}
.simBtn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.simBtn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.simBtn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}





/*

background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);


h1 {
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

button {
    width: 200px;
}

#graph {
    height: 500px;
}

.container {
    max-width: 800px;
}

.card {
    margin: 0 40px auto;
    padding: 20px 40px 40px;
    min-width: 10%;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
}




 * Formatting the header area
 
header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
}
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}
*/

/*
 * Formatting the body area

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #3190ef;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    width: 80%;
}

.pageTitle {
    width: 100%;
    border: 2px solid black;
}
.pageTitle h1{
    font-weight: bold;
    font-style: italic;
    text-align:center;
    text-decoration: underline;
}

.controls {
    margin-bottom: 20px;
    text-align: left;
}

.control {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="range"] {
    width: 100%;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #c0392b;
}

#graph {
    margin-top: 20px;
}
 */