<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Equity Curve Simulator</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">        
    </head>
<body>
    <header class="page-header" style="border-bottom: 6px grey double;">
        <div class="pageTitle" style="text-align: center;">
            <h1>Equity Curve Simulator</h1>
            <h3>By Osa.OO</h3>
        </div>
    </header>
    <div class="container">
        <div class="controls">
            <div class="inputControls">
                <div class="control">
                        <div class="c-element">
                            <label for="balance">Starting Balance:</label>
                        </div>
                        <div class="c-element">
                            <span id="balance-label">10000</span>
                        </div>
                        <div class="c-element">
                            <input type="range" id="balance" min="1000" max="100000" step="1000" value="10000" oninput="updateLabel('balance-label', this.value)">
                        </div>
                </div>
                <div class="control">
                    <div class="c-element">
                        <label for="win-rate">Win Rate (%):</label>
                    </div>
                    <div class="c-element">
                        <span id="win-rate-label">35</span>
                    </div>
                    <div class="c-element">
                        <input type="range" id="win-rate" min="0" max="100" step="1" value="35" oninput="updateLabel('win-rate-label', this.value)">
                    </div>
                </div>
                <div class="control">
                    <div class="c-element">
                        <label for="risk-percentage">Risk Percentage (%):</label>
                    </div>
                    <div class="c-element">
                        <span id="risk-percentage-label">1</span>
                    </div>
                    <div class="c-element">
                        <input type="range" id="risk-percentage" min="0.25" max="5" step="0.25" value="1" oninput="updateLabel('risk-percentage-label', this.value)">
                    </div>
                </div>
                <div class="control">
                    <div class="control-label">
                        <label for="risk-reward-ratio">Risk-to-Reward Ratio:</label>
                    </div>
                    <div class="c-element">
                        <span id="risk-reward-ratio-label">2.5</span>
                    </div>
                    <div class="c-element">
                        <input type="range" id="risk-reward-ratio" min="0.5" max="10" step="0.25" value="2.5" oninput="updateLabel('risk-reward-ratio-label', this.value)">
                    </div>
                </div>
                <div class="control">
                    <div class="c-element">
                        <label for="number-of-trades">Number of Trades:</label>
                    </div>
                    <div class="c-element">
                        <span id="number-of-trades-label">300</span>
                    </div>
                    <div class="c-element">
                        <input type="range" id="number-of-trades" min="50" max="500" step="50" value="200" oninput="updateLabel('number-of-trades-label', this.value)">
                    </div>
                </div>
                <div class="control">
                    <div class="c-element">
                        <label for="number-of-simulations">Number of Simulations:</label>
                    </div>
                    <div class="c-element">
                        <span id="number-of-simulations-label">10</span>
                    </div>
                    <div class="c-element">
                        <input type="range" id="number-of-simulations" min="1" max="100" step="1" value="10" oninput="updateLabel('number-of-simulations-label', this.value)">
                    </div>  
                </div>
            </div>
            <div class="submit-container">
                <div class="runSimulation_btn">
                    <button class="btn btn-danger" onclick="runSimulation()">Run Simulation</button>
                </div>
            </div>
        </div>
        <div class="simulationOutput">
            <div class="outputSection">
                <div id="graph"></div>
            </div>
            <div class="outputSection">
                <h1></h1>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script.js') }}"></script>
</body>
</html>
